/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYmRjRdE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISma2RjRdE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmY2RjRdE.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmbGRjRdE.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYGRjRdE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmYWRjRdE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2Rj.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,html{margin: 0;overflow: hidden;}

.ammapDescriptionWindow {
    background: rgb(219 221 220 / 80%);
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 1);
    position: fixed!important;
    top: 50%!important;
    left: 50%!important;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 1000000000000000000;
    font-family: 'Roboto Slab';
   
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  .ammapDescriptionTitle {
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
  }
  .ammapDescriptionText {
    max-height: 400px;
    overflow: auto;
    padding-right: 10px;
  }
  .ammapDescriptionText img{
    max-width: 95%;
    height: 100px;
    margin: auto;
  }
  #zastava_opis,#grb_opis{text-align: justify;}
  
  
  ul {
    list-style: none;
  }
  
  #portfolioItem {
    display: none;
  }
  
  #portfolio {
    background-color: hsla(360, 100%, 100%, 0); /* transparent ENTIRELY */
    color: hsla(360, 100%, 100%, 0.7); /* transparent white */
    font-family: 'Roboto Slab';
   
    font-weight: normal;
    font-style: normal;
    font-display: swap;    font-size: 26px;
    font-style: italic;
    height: 75px;
    left: 10px;
    padding: 14px 5px 0 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 100px;
    z-index: 100;
  }
    @media screen and (min-width: 700px) {
      #portfolioItem {
        display: block;
      }
    }
  
  #codepen {
    background-color: hsla(360, 100%, 100%, 0); /* transparent ENTIRELY */
    color: hsla(360, 100%, 100%, 0.7); /* transparent white */
    font-family: 'Roboto Slab';
   
    font-weight: normal;
    font-style: normal;
    font-display: swap;    font-size: 26px;
    font-style: italic;
    height: 75px;
    padding: 14px 5px 0 0;
    position: absolute;
    right: 150px;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 100px;
    z-index: 100;
  }
  #hambi{padding: 0; margin: 0;height: 100vh;
    overflow-y: scroll;-ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;     background-color: #939EB3}

    #hambi::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color:white;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color:white;
  }

  .zemlje-meni{padding: 0; display: none;}
  .zemlje-meni a{padding-left: 40px;}
  .hamburger {
    background-color: hsla(360, 100%, 100%, 0); /* transparent ENTIRELY */
    border-radius: 5px;
    height: 50px;
    position: fixed;
    right: 12.5px;
    text-align: center;
    top: 11.5px;
    width: 50px;
    z-index: 10000000;
    cursor: pointer;
  }
  
  .hamburger p { /* creating the 3 lines */
    font-family: 'Roboto Slab';
   
    font-weight: normal;
    font-style: normal;
    font-display: swap;    font-size: 38px;
    line-height: .25;
    margin-top: -9.5px;
  }
  
  nav {
    opacity: .95;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 100;
  }
  
  nav li a {
    border-bottom: 1px dotted hsla(360, 100%, 100%, 0.7); /* transparent white */
    border-left: 1px dotted hsla(360, 100%, 100%, 0.7); /* transparent white */
    color: white;
    display: block;
    font-family: 'Roboto Slab';
   
    font-weight: normal;
    font-style: normal;
    font-display: swap;    font-size: 20px;
    line-height: 1.2;
    padding: 12.5px 0 0 25px;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
   }
  
  .firstNav {
    border-left: 1px dotted hsla(360, 100%, 100%, 0.7); /* transparent dotted menu border white */
    color: hsla(360, 100%, 100%, 0.33); /* transparent CLOSE white */
    display: block;
    font-style: italic;
    font-weight: lighter;
    height: 30px;
    padding: 25px 0 0 115px;
    width: 251px;
  }
  .lastNav {
    border-radius: 0 0 0 10px; /* top-left, top-right, bottom-right, bottom-left */
  }
  
  /* different pages, #id by section */
  section {
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  #homepage {
    display: none;
  }
  #ourStory {
    display: none;
  }
  #menu {
    display: none;
  }
  #shop {
    display: none;
  }
  #contact {
    display: none;
  }
  
  .paralax {
    height: 400px;
    width: 100%;
  }

  #opis_zastava{text-align: justify;}
    @media screen and (min-width: 700px) {
      .paralax {
        height: 500px;
      }
    }
    @media screen and (min-width: 1000px) {
      .paralax {
        height: 600px;
      }
    }
    @media screen and (min-width: 1300px) {
      .paralax {
        height: 700px;
      }
    }
  
  .paralax h2 {
    font-family: 'Roboto Slab';
   
    font-weight: normal;
    font-style: normal;
    font-display: swap;    font-size: 50px;
    padding-top: 100px;
    text-align: center;
  }
  
  .background1 {
    background-image: url("https://github.com/andyaro3/andyaro3.github.io/blob/master/images/coffeeshop1_mobile.jpg?raw=true"); /* url("../images/coffeeshop1_mobile.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background2 {
    background-image: url("https://github.com/andyaro3/andyaro3.github.io/blob/master/images/coffeeshop2_mobile.jpg?raw=true"); /* url("../images/coffeeshop2_mobile.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background3 {
    background-image: url("https://github.com/andyaro3/andyaro3.github.io/blob/master/images/coffeeshop3_mobile.jpg?raw=true"); /* url("../images/coffeeshop3_mobile.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background4 {
    background-image: url("https://github.com/andyaro3/andyaro3.github.io/blob/master/images/coffeeshop4_mobile.jpg?raw=true"); /* url("../images/coffeeshop4_mobile.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background5 {
    background-image: url("https://github.com/andyaro3/andyaro3.github.io/blob/master/images/coffeeshop5_mobile.jpg?raw=true"); /* url("../images/coffeeshop5_mobile.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .newPage {}
    .newPage h3 {
      display: block;
      font-family: 'Roboto Slab';
      src: url('RobotoSlab-Regular.woff2') format('woff2'),
          url('RobotoSlab-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;      font-size: 50px;
      margin-left: 10%;
      width: 90%;
    }
    .newPage p {
      margin: 0 10%;
    }
    .newPage h4 {
      color: gold;
      font-size: 1.5rem;
      font-style: italic;
    }
  
  .homepageContent {}
    .homepageContent img {
      display: none;
      float: right;
      height: auto;
      margin-right: 10%;
      padding: 5px 0 20px 20px;
      width: 200px;
    }
    .homepageHamburger {
      background-color: hsla(360, 100%, 100%, 0); /* transparent ENTIRELY */
      border: 3px solid white;
      border-radius: 5px;
      float: left;
      height: 50px;
      margin-left: 10%;
      text-align: center;
      width: 50px;
    }
    .homepageHamburger p { /* creating the 3 lines */
      font-family: 'Roboto Slab';
      src: url('RobotoSlab-Regular.woff2') format('woff2'),
          url('RobotoSlab-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;      font-size: 38px;
      line-height: .25;
      margin-top: -9.5px;
    }
    .homepageFirstNav {
      color: hsla(360, 100%, 100%, 0.33); /* transparent CLOSE white */
      display: inline-block;
      float: left;
      font-style: italic;
      font-weight: lighter;
      height: 25px;
      margin-left: 20px;
      width: 50%;
    }
  /* Chrome */
.ammapDescriptionText::-webkit-scrollbar {
  width: 5px;
}

.ammapDescriptionText::-webkit-scrollbar-track {
/*background-color: grey;*/
box-shadow: inset 0 0 5px grey; 
border-radius: 15px;
}

.ammapDescriptionText::-webkit-scrollbar-thumb {
background-color: #939EB3; 
border-radius: 15px;
/*border: 1px solid red;*/
}

/*.container::-webkit-scrollbar-button {
background-color: red;
 border-radius: 15px;
}*/
.amcharts-balloon-div *{font-family: 'Roboto Slab'!important;
  src: url('RobotoSlab-Regular.woff2') format('woff2'),
      url('RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;  }
.container::-webkit-scrollbar-thumb:hover {
background: red; 
}

#povrsina,#stanovnici,#gustoca{display: none;}
    @media screen and (min-width: 700px) {
      .homepageContent img {
        display: block;
      }
      .homepageFirstNav {
        margin-top: 10px;
      }
    }
  
  .ourStoryContent {}
    .ourStoryContent img {
      display: none;
      float: left;
      height: auto;
      padding: 5px 20px 15px 0;
      width: 200px;
    }
  
    @media screen and (min-width: 700px) {
      .ourStoryContent img {
        display: block;
      }
    }
  
  .menuContent {}
    .menuMain {
      background-color: hsla(11, 100%, 4%, 1); /* coffee bean black-brown */
      margin-left: 10%;
      width: 90%;
    }
    .menuh4 {
      font-size: 1.1rem;
      padding-bottom: .1px;
    }
    .menuGroup {
      display: inline;
      /*float: left;*/
      padding-left: 0;
    }
    .menuGroup li {
      font-family: 'Roboto Slab';
      src: url('RobotoSlab-Regular.woff2') format('woff2'),
          url('RobotoSlab-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
      font-display: swap;      margin-left: 5%;
      overflow: hidden;
      width: 90%;
    }
  
    @media screen and (min-width: 700px) {
      .menuGroup:nth-Child(3) {
        clear: both; /* clearfix float */
      }
      .menuGroup li {
        width: 350px;
      }
      .menuGroup {
        float: left;
      }
    }
    @media screen and (min-width: 1000px) {
      .menuGroup li {
        width: 425px;
      }
    }
    @media screen and (min-width: 1300px) {
      .menuGroup {
        /*margin-right: 1%;*/
      }
      .menuGroup:nth-Child(3) {
        clear: none; /* undo clearfix float, allow float */
      }
      .menuGroup li {
        margin-left: 5%;
        width: 275px;
      }
    }
    @media screen and (max-width: 600px) {
    .ammapDescriptionWindow{width: 90vw!important; }
      .ammapDescriptionText{height: 60vh;

        overflow-y: auto;}
    }